
#divToPrint{
	width: 210mm !important;
	height: 297mm !important;
	margin: auto;
	background-color: white;
  border: 2px solid #888888;
  padding: 15px;
  max-width: 95%;
}

.waiver{
		max-height: 267mm;
		max-width: 180mm;
	
  padding: 5mm 15mm;
  margin: auto ;
  background-color: white;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
   position: relative;
  
 text-align: justify; 

}